<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Langsapost</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Langsapost</h1>
    <p>Portal berita nasional, internasional, dan gaya hidup</p>
  </header>

  <main>
    <h2>Artikel Terbaru</h2>
    <ul class="article-list">
      {% for post in collections.artikel | reverse %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
          <br><small>{{ post.date | date("dd LLL yyyy") }}</small>
        </li>
      {% endfor %}
    </ul>
  </main>

  <footer>
    © {{ "now" | date("yyyy") }} Langsapost
  </footer>
</body>
</html>
