<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header><a href="/">Langsapost</a></header>
  <article>
    <h1>{{ title }}</h1>
    <p><small>{{ date | readableDate }}</small></p>
    {{ content | safe }}
  </article>
  <footer>&copy; {{ "now" | date: "%Y" }} Langsapost</footer>
</body>
</html>
