<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} - Langsapost</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1><a href="/">Langsapost</a></h1>
  </header>
  <main>
    <h2>{{ title }}</h2>
    <p><small>{{ date | date }}</small></p>
    <div>{{ content | safe }}</div>
  </main>
  <footer>
    <p>&copy; 2025 Langsapost</p>
  </footer>
</body>
</html>
